.idea
**/.ipynb_checkpoints
**/**/.ipynb_checkpoints
notebooks
**/**/.DS_Store
wandb
**/**/__pycache__
alfred/data/json_feat_2.1.0
alfred/data/full_2.1.0
.python-version
exp
logs
results
hparam_search
lightning_logs
.vscode
**/*.egg-info
build
venv
.env
db.sqlite3
**.ipynb
